.logo {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 4rem;
  margin-bottom: 2.3rem;
  overflow-y: hidden;
}

.logo a {
  text-decoration: none;
}

.logo h3 {
  color: black;
  font-size: 4rem;
  font-weight: normal;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
  transition: transform 0.2s ease;
  /* animation: logoAnimation 1s ease-out forwards; */
}

.logo h3:hover {
  transform: scale(1.05);
}

.menu {
  padding: 0;
  margin: 0;
}

.home-favicon-img {
  width: 2rem;
  height: 2rem;
  transition: transform 0.2s ease;
}

.home-favicon-img:hover {
  transform: scale(1.2);
}

.cart-favicon-img {
  width: 2rem;
  height: 2rem;
  transition: transform 0.2s ease;
}

.cart-favicon-img:hover {
  transform: scale(1.2);
}

.menu .nav-links {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu .nav-links a {
  display: block;
  color: black;
  text-decoration: none;
  font-size: 1.6rem;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  margin: 0 3rem;
  transition: transform 0.2s ease, color 250ms ease;
  /* animation: logoAnimation 1s ease-out forwards; */
}

.menu .nav-links a:hover {
  color: lightskyblue;
  transform: scale(1.1);
}

/* @keyframes logoAnimation {
  0% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(0);
  }
} */