.logo {
  /* border: 1px solid transparent; */
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 4rem;
  margin-bottom: 2.3rem;
  overflow-y: hidden;
}

.logo a {
  text-decoration: none;
}

.logo h3 {
  color: black;
  font-size: 4rem;
  font-weight: normal;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
  /* transition for when you hover the mouse over */
  transition: opacity ease 250ms;
  animation: logoAnimation 1s ease-out forwards;
}

.logo h3:hover {
  opacity: 0.4;
}

.menu {
  /* border: 1px solid transparent; */
  padding: 0;
  margin: 0;
}

.home-favicon-img {
  width: 2rem;
  height: 2rem;
}

.cart-favicon-img {
  width: 2rem;
  height: 2rem;
}

.menu .nav-links {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu .nav-links a {
  display: block;
  color: black;
  text-decoration: none;
  font-size: 1.6rem;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  margin: 0 3rem;
  animation: logoAnimation 1s ease-out forwards;
}

.menu .nav-links a:hover {
  transition: color ease 250ms;
  color: lightskyblue;
}

/* @keyframes logoAnimation {
  0% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(0);
  }
} */